@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Giphurs';
    src: url('assets/fonts/giphurs-ExtraBlack.woff2') format('woff2');
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}
