<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{privacy_description}}" />
        <meta name="author" content="Mug of Coffee Software GmbH" />
        <title>{{privacy_pagetitle}}</title>
        <link rel="icon" type="image/x-icon" href="../favicon.ico" />
        <link href="../css/fonts.css" rel="stylesheet" />
        <link href="../css/styles.css" rel="stylesheet" />
        <link rel="alternate" href="https://unlabeler.app/en/privacy-policy.html" hreflang="en" />
        <link rel="alternate" href="https://unlabeler.app/de/privacy-policy.html" hreflang="de" />
        <link rel="alternate" href="https://unlabeler.app/es/privacy-policy.html" hreflang="es" />
        <link rel="alternate" href="https://unlabeler.app/it/privacy-policy.html" hreflang="it" />
        <link rel="alternate" href="https://unlabeler.app/en/privacy-policy.html" hreflang="x-default" />
    </head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <div class="d-flex align-items-center">
                <a class="navbar-nav nav-link d-flex align-items-center" href="index.html">
                    <img src="../assets/img/Unlabeler-wo-Background_light.png" width="30" height="30"
                        class="d-inline-block align-top" style="margin-right: 20px;">
                    Home
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                {{nav_menu}}
                <span
                    style="font-family: Giphurs, sans-serif; font-size: 1.5em; font-weight: 300; position: relative; top: 3px">&#x2261;</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="faq.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" 
                            href="https://apps.apple.com/de/app/the-unlabeler/id6746089276">{{nav_download}}</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" 
                            href="mailto:info@mugofcoffee.de?subject=The%20Unlabeler">{{nav_contact}}</a></li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle m-0 p-0" type="button" id="languageDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                        <span>&#127760;</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="../en/privacy-policy.html">English</a></li>
                        <li><a class="dropdown-item" href="../de/privacy-policy.html">Deutsch</a></li>
                            <li><a class="dropdown-item" href="../es/privacy-policy.html">Español</a></li>
                            <li><a class="dropdown-item" href="../it/privacy-policy.html">Italiano</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12">
                    <!-- Privacy Policy content -->
                    <div class="text-center text-lg-start">
                        <h1 class="display-4 mb-4">{{privacy_title1}}</h1>
                        <p class="mb-5">{{privacy_text1_1}}</p>

                        <h1 class="display-4 mb-4">{{privacy_title2}}</h1>
                        <p class="mb-3 fs-4"><strong>{{privacy_text2_1}}</strong></p>
                        <p class="mb-3">{{privacy_text2_2}}</p>
                        <p class="mb-3">{{privacy_text2_3}}</p>

                        <p class="mb-3 fs-4"><strong>{{privacy_text2_4}}</strong></p>
                        <p class="mb-3">{{privacy_text2_5}}</p>
                        <p class="mb-3">{{privacy_text2_6}}<br>
                            Mug of Coffee Software GmbH<br>
                            Corrensstraße 25<br>
                            72076 Tübingen<br>
                            {{privacy_text2_7}}<br>
                            {{privacy_text2_8}}<br>
                            Email: <a href="mailto:info@mugofcoffee.de">info@mugofcoffee.de</a>
                        </p>

                        <p class="mb-3 fs-4"><strong>{{privacy_text2_9}}</strong></p>
                        <p class="mb-3"><strong>{{privacy_text2_10}}</strong></p>
                        <p class="mb-3">{{privacy_text2_11}}</p>
                        <p class="mb-3">{{privacy_text2_12}}</p>

                        <p class="mb-3"><strong>{{privacy_text2_13}}</strong></p>
                        <p class="mb-3">{{privacy_text2_14}}</p>

                        <p class="mb-3"><strong>{{privacy_text2_15}}</strong></p>
                        <p class="mb-3">{{privacy_text2_16}}</p>

                        <p class="mb-3"><strong>{{privacy_text2_17}}</strong></p>
                        <p class="mb-3">{{privacy_text2_18}}</p>

                        <p class="mb-3"><strong>{{privacy_text2_19}}</strong></p>
                        <p class="mb-3">{{privacy_text2_20}}</p>

                        <p class="mb-3"><strong>{{privacy_text2_21}}</strong></p>
                        <p class="mb-3">{{privacy_text2_22}}</p>
                        <p class="mb-3">{{privacy_text2_23}}</p>

                        <p class="mb-3">{{privacy_text2_24}}</p>

                        <p class="mb-3">{{privacy_text2_25}}</p>

                        <p class="mb-3">
                            GitHub Inc.<br>
                            88 Colin P Kelly Jr St<br>
                            San Francisco, CA 94107<br>
                            United States
                        </p>

                        <p class="mb-3">{{privacy_text2_26}}</p>

                        <p class="mb-3">{{privacy_text2_27}}<a
                                href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages"
                                target="_blank">https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages</a>
                        </p>

                        <p class="mb-3">{{privacy_text2_28}}</p>

                        <p class="mb-3">{{privacy_text2_29}}</p>

                        <p class="mb-3">{{privacy_text2_30}}</p>

                        <p class="mb-3">{{privacy_text2_31}}<a
                                href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1–the-standard-contractual-clauses-processors"
                                target="_blank">https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-data-protection-addendum#attachment-1–the-standard-contractual-clauses-processors</a>
                        </p>
                        <p class="mb-3"><strong>{{privacy_text2_32}}</strong></p>
                        <p class="mb-3">{{privacy_text2_33}}</p>

                        <p class="mb-3 fs-4"><strong>{{privacy_text2_34}}</strong></p>
                        <p class="mb-3">{{privacy_text2_35}}</p>

                        <p class="mb-3"><strong>{{privacy_text2_36}}</strong></p>
                        <p class="mb-3">{{privacy_text2_37}}<br>
                            Mug of Coffee Software GmbH<br>
                            Data Protection Officer<br>
                            Corrensstraße 25<br>
                            72076 Tübingen<br>
                            {{privacy_text2_38}}<br>
                            {{privacy_text2_39}}<a href="mailto:info@mugofcoffee.de">info@mugofcoffee.de</a>
                        </p>

                        <p class="mb-0">{{privacy_text2_40}}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer-->
    <footer class="body-color-bg text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <a href="legal-notice.html">{{index_legal}}</a>
                <span class="mx-1">&middot;</span>
                <a href="privacy-policy.html">{{index_privacy}}</a>
                <div class="mb-2">&copy; {{copyright}}</div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JS
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
</body>

</html>