<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{usage_description}}" />
        <meta name="author" content="Mug of Coffee Software GmbH" />
        <title>{{usage_pagetitle}}</title>
        <link rel="icon" type="image/x-icon" href="../favicon.ico" />
        <link href="../css/fonts.css" rel="stylesheet" />
        <link href="../css/styles.css" rel="stylesheet" />    
        <link rel="alternate" href="https://unlabeler.app/en/usage.html" hreflang="en" />
        <link rel="alternate" href="https://unlabeler.app/de/usage.html" hreflang="de" />
        <link rel="alternate" href="https://unlabeler.app/es/usage.html" hreflang="es" />
        <link rel="alternate" href="https://unlabeler.app/it/usage.html" hreflang="it" />
        <link rel="alternate" href="https://unlabeler.app/fr/usage.html" hreflang="fr" />
        <link rel="alternate" href="https://unlabeler.app/en/usage.html" hreflang="x-default" />
    </head>
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
                <div class="d-flex align-items-center">
                    <a class="navbar-nav nav-link d-flex align-items-center" href="index.html">
                        <img src="../assets/img/Unlabeler-wo-Background_light.png" width="30" height="30" class="d-inline-block align-top" style="margin-right: 20px;">{{nav_home}}</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    {{nav_menu}}
                    <span style="font-family: Giphurs, sans-serif; font-size: 1.5em; font-weight: 300; position: relative; top: 3px">&#x2261;</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3" href="faq.html">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="https://apps.apple.com/de/app/the-unlabeler/id6746089276">{{nav_download}}</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="mailto:info@mugofcoffee.de?subject=The%20Unlabeler">{{nav_contact}}</a></li>
                    </ul>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle m-0 p-0" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                            <span>&#127760;</span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            <li><a class="dropdown-item" href="../en/usage.html">English</a></li>
                            <li><a class="dropdown-item" href="../de/usage.html">Deutsch</a></li>
                            <li><a class="dropdown-item" href="../es/usage.html">Español</a></li>
                            <li><a class="dropdown-item" href="../it/usage.html">Italiano</a></li>
                            <li><a class="dropdown-item" href="../fr/usage.html">Français</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
        <!-- Masthead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center text-center">
                    <div>
                    <h1 class="display-1 mb-3">{{usage_title}}</h1>
                        <img src="../assets/img/Workflow-en.jpg" alt="Overview" class="icon-feature d-block mx-auto w-50" />
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Text -->
        <div class="container px-5 mb-5">
            <div class="row gx-5 align-items-center justify-content-center ">
                <div>
                    <p class="lead fw-normal mb-4">{{usage_text1}}</p>
                    <ol >
                    <li class="lead fw-normal mb-3">
                        <strong>{{usage_text2}}</strong> 
                        <ul>
                            <li>{{usage_text3}}</li>
                            <li>{{usage_text4}}</li>
                            <li>{{usage_text5}}</li>
                            <li>{{usage_text6}}</li>
                        </ul>
                    </li>
                    <li class="lead fw-normal mb-3">
                        <strong>{{usage_text7}}</strong> 
                        <ul>
                            <li>{{usage_text8}}</li>
                            <li>{{usage_text9}}</li>
                            <li>{{usage_text10}}</li>
                            <li>{{usage_text11}}</li>
                            <li>{{usage_text12}}</li>
                            <li>{{usage_text13}}</li>
                        </ul>
                    </li>
                    <li class="lead fw-normal mb-3">
                        <strong>{{usage_text14}}</strong> 
                        <ul>
                            <li>{{usage_text15}}</li>
                            <li>{{usage_text16}}</li>
                            <li>{{usage_text17}}</li>
                        </ul>
                    </li>
                    <li class="lead fw-normal mb-3"> 
                        <strong>{{usage_text18}}</strong> 
                        <ul>
                            <li>{{usage_text19}}</li>
                            <li>{{usage_text20}}</li>
                            <li>{{usage_text21}}</li>
                        </ul>
                    </li>
                    <li class="lead fw-normal mb-5"> 
                        <strong>{{usage_text22}}</strong> 
                        <ul>
                            <li>{{usage_text22b}}</li>
                            <li>{{usage_text23}}</li>
                            <li>{{usage_text24}}</li>
                            <li>{{usage_text23}}</li>
                            <li>{{usage_text24}}</li>
                        </ul>
                    </li>
                    </ol>
                    <p class="lead fw-normal mb-2">{{usage_text27}}</p>   
                </div>
            </div>
        </div>

        <div class="container px-5">
            <div class="row">
                <div class="col text-start">
                    <a href="overview.html" class="text-decoration-none">{{usage_back}}</a>
                </div>
                <div class="col">
                    <a href="in-app-purchases.html" class="float-end text-decoration-none">{{usage_next}}</a>
                </div>
            </div>
        </div>
        

        
        <!-- Footer-->
        <footer class="body-color-bg text-center py-5">
            <div class="container px-5">
                <div class="text-white-50 small">
                    <a href="legal-notice.html">{{index_legal}}</a>
                    <span class="mx-1">&middot;</span>
                    <a href="privacy-policy.html">{{index_privacy}}</a>
                    <div class="mb-2">&copy; {{copyright}}</div>
                </div>
            </div>
        </footer>
        
        
        <!-- Bootstrap core JS
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->
        <script src="../js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>

    </body>
</html>
